In [2]:
import pandas as pd

In [3]:
marketing_customer_analysis_cleaned_lab5 = pd.read_csv('marketing_customer_analysis_cleaned_lab5.csv')

In [6]:
marketing_customer_analysis_cleaned_lab5 = marketing_customer_analysis_cleaned_lab5.drop('Unnamed: 0', axis=1)

In [7]:
marketing_customer_analysis_cleaned_lab5.head()

,Customer,State,Customer Lifetime Value,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,Location Code,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,response Rate
0,DK49336,Arizona,4809.216960,Basic,College,2/18/11,Employed,M,48029,Suburban,...,0.000000,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,0
1,KX64629,California,2228.525238,Basic,College,1/18/11,Unemployed,F,0,Suburban,...,0.000000,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,0
2,LZ68649,Washington,14947.917300,Basic,Bachelor,2/10/11,Employed,M,22139,Suburban,...,0.000000,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,0
3,XL78013,Oregon,22332.439460,Extended,College,1/11/11,Employed,M,49078,Suburban,...,0.000000,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,1
4,QA50777,Oregon,9025.067525,Premium,Bachelor,1/17/11,Medical Leave,F,23675,Suburban,...,0.384256,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,0

In [8]:
#Scale numericals (normalize)

In [10]:
numerical = marketing_customer_analysis_cleaned_lab5.select_dtypes(include = ['int64', 'float64']) 
categorical = marketing_customer_analysis_cleaned_lab5.select_dtypes(include = ['object'])

In [12]:
from sklearn.preprocessing import MinMaxScaler
MinMaxtransformer = MinMaxScaler().fit(numerical)
x_normalized = MinMaxtransformer.transform(numerical)
print(x_normalized.shape)
x_normalized = pd.DataFrame(x_normalized,columns=numerical.columns)
x_normalized.head()

(10910, 9)

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount,response Rate
0,0.035752,0.480381,0.000000,0.200000,0.525253,0.000000,1.000,0.101171,0.0
1,0.004059,0.000000,0.012658,0.085714,0.262626,0.000000,0.000,0.257445,0.0
2,0.160264,0.221432,0.164557,0.971429,0.313131,0.000000,0.125,0.165875,0.0
3,0.250953,0.490873,0.151899,0.285714,0.030303,0.000000,0.125,0.167263,1.0
4,0.087527,0.236795,0.236287,0.432831,0.313131,0.076851,0.750,0.244657,0.0

In [ ]:
# X-y split

In [16]:
y = marketing_customer_analysis_cleaned_lab5['Total Claim Amount']
X = marketing_customer_analysis_cleaned_lab5.drop(['Total Claim Amount'], axis=1)
# I am not sure how to proceed. I will ask this Monday August 16

In [18]:
marketing_customer_analysis_cleaned_lab5.to_csv('marketing_customer_analysis_cleaned_lab6.csv')